*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.banner{
    background: url(./images/Object.png);
    height: 100%;
    background-position: top;
    background-size: cover;
    padding-bottom: 100px;
}
.navBar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navItem{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.logoIcon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoWord{
    font-family: ;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    margin-top: 87px;
}
.ctaChild{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.cta h1{
    font-size: 4.3rem;
    font-weight: bolder;
}
.cta h3{
    font-size: 0.9rem;
}
.cta a{
    text-decoration: none;
    background-color: hsla(274, 100%, 72%, 1);
    color: white;
    padding:12px 18px;
    border-radius: 30px;
    font-size: 0.55rem;
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.imageTestimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.test{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.test img{
    width: 180px;
    border-radius: 50%;
}
.testimonials h2{
    margin-bottom: 30px;
    color: white;
}
.LearnSpan{
    color: hsla(274, 100%, 72%, 1);
}
.quotes{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.quotes img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
